@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
// Navigation
.main_h {
  position: fixed;
  top: 0px;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: $cousine;
  @include small {
    padding-top: 25px;
  }
}

.open-nav {
  max-height: 400px !important;
  .mobile-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
  }
}

.sticky {
  background-color: rgba(255, 255, 255, 0.93);
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid lighten $accent-gold, 30%;
}

.logo {
  width: 50px;
  font-size: 25px;
  color: $accent-gold;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
  @include small {
    float: none;
  }
}

nav {
  float: right;
  width: 60%;
  @include small {
    width: 100%;
  }

  ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right;
    @include small {
      padding-top: 10px;
      margin-bottom: 22px;
      float: left;
      text-align: center;
      width: 100%;
    }

    li {
      display: inline-block;
      margin-left: 35px;
      line-height: 1.5;
      @include small {
        width: 100%;
        padding: 7px 0;
        margin: 0;
      }
    }
    a {
      color: #888888;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  @include small {
    display: block;
  }

  span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 1000px;
    background: $accent-gold;
    display: block;
  }
}

.row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
  text-align: center;
}


// Page Style
* {
  box-sizing: border-box;
}

body {
  color: $text-color;
  background: white;
  font-family: "Cardo", serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

a {
  text-decoration: none;
}

a:link {
    color: $text-color;
}

a:hover {
    color: $hover;
}

a:active {
    color: $hover;
}

h1 {
  font-size: 30px;
  line-height: 1.8;
  text-transform: uppercase;
  font-family: $cousine;
  margin: 0;
}

p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
  text-align: center;
}

.content {
  padding: 50px 2% 50px;
  text-align: center;
}

.alt-1 {
     position: relative;
    background: url("../images/person.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    text-align:  center ;
    padding: 0;
    margin: 0;
  }
.hero {
    position: relative;
  background: url("../images/sapling.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align:  center ;
  padding: 0;
  margin: 0;
}
  

.hero,
.alt-1 {

  h1 {
    font-size: 1em;
    line-height: 1em;
    padding-top: 15rem;
    padding-bottom: 18rem;
    color: #fff;
    padding-right: 2%;
    
    span {
      font-size: 3em;
      color: #fff;
      padding-bottom: 12px;
      line-height: 1;
    }
  }
}

.mouse {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 2px solid $text-color;
  bottom: 40px;
  position: absolute;
  left: 50%;
  margin-left: -14px;
  span {
    display: block;
    margin: 6px auto;
    width: 2px;
    height: 2px;
    border-radius: 4px;
    background: $text-color;
    border: 1px solid transparent;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
  }
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}


@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}